{% extends 'base.html'%}
{% load static %}
{% block content %}

<section id="latest-blog" class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header text-center">
                    <div class="title">
                        <span>Read our articles</span>
                    </div>
                    <h2 class="section-title">Latest Articles</h2>
                </div>

                <div class="row">
                    {% for item in art %}
                    <div class="col-md-4 mb-4">

                        <article class="column" data-aos="fade-up">
                            <figure>
                                <a href="#" class="image-hvr-effect">
                                    <img src="{{ item.article_image.url }}" class="card-img-top" alt="{{ item.article_title }} Image"
                                        style="height: 250px; object-fit: cover;">
                                </a>
                            </figure>

                            <div class="post-item">
                                <div class="meta-date">{{ item.article_date }}</div>
                                <h3><a href="#">{{ item.article_title }}</a></h3>
                            </div>

                            <div class="btn-wrap text-center">
                                <a href="{% url 'articlesdetails' item.id %}" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                                    Read More <i class="icon icon-ns-arrow-right"></i>
                                </a>
                            </div>
                        </article>

                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</section>

<footer id="footer">
		<div class="container">
			<div class="row">

				<div class="col-md-4">

					<div class="footer-item">
						<div class="company-brand">
							<img src="static/images/bookvistalogo2.png" alt="logo" class="footer-logo">
							<p>BookVista is your go-to online bookstore, offering a vast collection of books across various genres.
								Whether you're a fiction lover, a knowledge seeker, or looking for the latest bestsellers, we have something for every reader. Explore, discover, and enjoy seamless book shopping with BookVista!
							</p>
						</div>
					</div>

				</div>

				<div class="col-md-2">

					<div class="footer-menu">
						<h5>Company</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a href="{% url 'about' %}">About Us</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'articles' %}">Articles </a>
							</li>
							<li class="menu-item">
								<a href="{% url 'careers' %}">Careers</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'contactus' %}">Contact Us</a>
							</li>

						</ul>
					</div>

				</div>
				<div class="col-md-2">

					<div class="footer-menu">
						<h5>Discover</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a href="{% url 'home' %}">Home</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'category' %}">Books</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'category' %}">Categories</a>
							</li>

						</ul>
					</div>

				</div>
				<div class="col-md-2">

					<div class="footer-menu">
						<h5>My account</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a href="{% url 'login' %}">Sign In</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'cart' %}">View Cart</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'wishlist' %}">View Wishlist</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'order_history' %}">Order History</a>
							</li>
						</ul>
					</div>

				</div>
				<div class="col-md-2">

					<div class="footer-menu">
						<h5>Policies</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a href="{% url 'privacypolicy' %}">Privacy Policy</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'shipping&returns' %}">Shipping and Returns</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'payments&refund' %}">Payments and Refunds</a>
							</li>
							<li class="menu-item">
								<a href="{% url 't&c' %}">T&C</a>
							</li>
						</ul>
					</div>

				</div>

			</div>
			<!-- / row -->

		</div>
	</footer>

	<div id="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-12">



							<div class="col-md-6">
								<div class="social-links align-right">
									<ul>
										<li>
											<a href="#"><i class="fab fa-facebook"></i></a>
										</li>
										<li>
											<a href="#"><i class="fab fa-twitter"></i></a>
										</li>
										<li>
											<a href="#"><i class="fab fa-youtube"></i></a>
										</li>
										<li>
											<a href="#"><i class="fab fa-instagram"></i></a>
										</li>
									</ul>
								</div>
							</div>

						</div>
					</div><!--grid-->

				</div><!--footer-bottom-content-->
			</div>
		</div>
	</div>

{% endblock %}
