{% extends 'base.html'%}
{% load static %}
{% block content %}

<link href="{%static 'css/careerstyle.css'%}" rel="stylesheet">
<section id="career" class="career-section py-5">
    <div class="container">
        <!-- Section Title -->
        <div class="text-center mb-5">
            <h2 class="section-title" style="color:#ff9900;">Join Our Team</h2>

            <p class="section-content">Shape the future of the book reading experience.</p>
            <br>
            <p class="section-description">At Bookvista, we are passionate about books and creating a delightful online shopping experience. Whether you're a tech guru, a creative writer, or a customer support specialist, we would love to hear from you!</p>
        </div>

        <!-- Main Career Content -->
        <div class="text-center mt-4">
            <h3 class="section-subtitle">Whether your expertise lies in software development, data analysis, customer support, content creation, or any other field, we are happy to explore possible opportunities for you to work with us.</h3>
            <p class="section-content mt-3">Write to us at <a href="mailto:careers@bookvista.com" class="email-link">careers@bookvista.com</a> with your resume and a brief note about why you want to work at Bookvista. We can't wait to hear from you!</p>

        </div>
    </div>
</section>

<footer id="footer">
		<div class="container">
			<div class="row">

				<div class="col-md-4">

					<div class="footer-item">
						<div class="company-brand">
							<img src="static/images/bookvistalogo2.png" alt="logo" class="footer-logo">
							<p>BookVista is your go-to online bookstore, offering a vast collection of books across various genres.
								Whether you're a fiction lover, a knowledge seeker, or looking for the latest bestsellers, we have something for every reader. Explore, discover, and enjoy seamless book shopping with BookVista!
							</p>
						</div>
					</div>

				</div>

				<div class="col-md-2">

					<div class="footer-menu">
						<h5>Company</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a href="{% url 'about' %}">About Us</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'articles' %}">Articles </a>
							</li>
							<li class="menu-item">
								<a href="{% url 'careers' %}">Careers</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'contactus' %}">Contact Us</a>
							</li>

						</ul>
					</div>

				</div>
				<div class="col-md-2">

					<div class="footer-menu">
						<h5>Discover</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a href="{% url 'home' %}">Home</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'category' %}">Books</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'category' %}">Categories</a>
							</li>

						</ul>
					</div>

				</div>
				<div class="col-md-2">

					<div class="footer-menu">
						<h5>My account</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a href="{% url 'login' %}">Sign In</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'cart' %}">View Cart</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'wishlist' %}">View Wishlist</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'order_history' %}">Order History</a>
							</li>
						</ul>
					</div>

				</div>
				<div class="col-md-2">

					<div class="footer-menu">
						<h5>Policies</h5>
						<ul class="menu-list">
							<li class="menu-item">
								<a href="{% url 'privacypolicy' %}">Privacy Policy</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'shipping&returns' %}">Shipping and Returns</a>
							</li>
							<li class="menu-item">
								<a href="{% url 'payments&refund' %}">Payments and Refunds</a>
							</li>
							<li class="menu-item">
								<a href="{% url 't&c' %}">T&C</a>
							</li>
						</ul>
					</div>

				</div>

			</div>
			<!-- / row -->

		</div>
	</footer>

	<div id="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-12">



							<div class="col-md-6">
								<div class="social-links align-right">
									<ul>
										<li>
											<a href="#"><i class="fab fa-facebook"></i></a>
										</li>
										<li>
											<a href="#"><i class="fab fa-twitter"></i></a>
										</li>
										<li>
											<a href="#"><i class="fab fa-youtube"></i></a>
										</li>
										<li>
											<a href="#"><i class="fab fa-instagram"></i></a>
										</li>
									</ul>
								</div>
							</div>

						</div>
					</div><!--grid-->

				</div><!--footer-bottom-content-->
			</div>
		</div>
	</div>
{% endblock %}